/* Reset */

body, form, div, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset,
p, blockquote {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

ol, ul {
    list-style: none;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* Common */

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    font: 13px 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #3c3c3c;
    background: #FFFFFF;
    height: 100%;
}

a {
    color: #f17f21;
}

.AspForm {
    display: block;
    height: 100%;
}


/* ThemeSelector */
.ThemeButton {
    font-size: 16px;
    text-decoration: none;
}

    .ThemeButton .Icon,
    .ThemeButton .Glyph {
        background-image: url('../UserControl/sprite.png');
        background-repeat: no-repeat;
    }

    .ThemeButton .Icon {
        width: 28px;
        height: 28px;
        background-position: -62px 0;
        vertical-align: middle;
        margin-top: -5px;
    }

    .ThemeButton .Glyph {
        width: 9px;
        height: 5px;
        background-position: -62px -36px;
        vertical-align: middle;
        margin-left: 2px;
        margin-top: -2px;
    }

.ThemeSelectorPopup {
    background-color: transparent !important;
    border: 0 !important;
}

    .ThemeSelectorPopup .dxpc-content {
        padding: 0 !important;
        font: 13px 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
        color: #3c3c3c;
    }

    .ThemeSelectorPopup .ContainerTopBorder {
        float: left;
        width: 311px;
        height: 2px;
        overflow: hidden;
        padding: 8px 0 0 0;
        margin: 39px -10px -2px 8px;
    }

    .ThemeSelectorPopup .TopBorder {
        float: left;
        width: 316px;
        height: 1px;
        border-top: 1px solid #b0b0b0;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.345);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.345);
    }


    .ThemeSelectorPopup .ButtonWrapper {
        overflow: hidden;
        padding: 8px 10px 0 10px;
    }

    .ThemeSelectorPopup.Right .ButtonWrapper {
        float: left; /*new*/
    }

    .ThemeSelectorPopup.Left .ButtonWrapper {
        float: right; /*new*/
    }

    .ThemeSelectorPopup .ButtonWrapper .ThemeButtonBorder {
        border: 1px solid #b0b0b0;
        border-bottom-width: 0;
        width: 136px;
        height: 40px;
    }

    .ThemeSelectorPopup .ButtonWrapperBtmBorder {
        position: absolute;
        width: 136px;
        height: 1px;
        background-color: white;
        z-index: 1000;
        top: 48px;
    }

    .ThemeSelectorPopup.Right .ButtonWrapperBtmBorder {
        left: 11px; /*new*/
    }

    .ThemeSelectorPopup.Left .ButtonWrapperBtmBorder {
        left: 321px; /*new*/
    }

    .ThemeSelectorPopup .ContainerWrapper {
        padding: 0 10px 20px 10px;
        overflow: hidden;
        width: 448px;
        display: inline-block;
        margin-top: -1px;
    }

        .ThemeSelectorPopup .ContainerWrapper .ThemeContainer {
            background-color: white;
            border: 1px solid #b0b0b0;
            -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
            padding: 17px 25px;
            clear: both;
            height: 350px; /* for IE7 */
        }

            .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeColumnLeft {
                width: 170px;
                float: left;
            }

            .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeColumnRight {
                float: right;
                width: 160px;
            }


            .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroup {
                color: #999999;
                font-size: 14px;
                margin: 10px 0 5px 0;
            }

            .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu {
                background-color: transparent !important;
                border: 0 !important;
                padding: 0 !important;
            }

                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .dxm-item,
                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .dxm-hover,
                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .dxm-selected,
                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .dxm-content {
                    background-color: transparent !important;
                    border: 0 !important;
                    padding: 0 !important;
                    font: 13px 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
                    color: #3c3c3c;
                }

                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .ThemeIco {
                    vertical-align: middle;
                    margin: 1px 7px 3px 2px;
                    display: inline-block;
                    width: 40px;
                    height: 19px;
                    padding: 1px;
                    zoom: 1;
                    *display: inline;
                }

                .ThemeSelectorPopup .ContainerWrapper .ThemeContainer .ThemeGroupMenu .dxm-selected .ThemeIco {
                    border: #ff8400 solid 2px;
                    margin: -1px 4px 1px 0;
                }

/* Themes*/
.Theme,
.ThemeDevEx,
.ThemeMetropolis,
.ThemeMetropolisBlue,
.ThemeModerno,
.ThemeiOS,
.ThemeMaterial,
.ThemeOffice2010Blue,
.ThemeOffice2010Black,
.ThemeOffice2010Silver,
.ThemeOffice2003Blue,
.ThemeOffice2003Olive,
.ThemeOffice2003Silver,
.ThemeAqua,
.ThemeMulberry,
.ThemeGlass,
.ThemeBlackGlass,
.ThemePlasticBlue,
.ThemeRedWine,
.ThemeSoftOrange,
.ThemeYouthful {
    width: 40px;
    height: 19px;
    display: inline-block;
}

.Theme {
    background-color: #DCDCDC;
}

.ThemeDevEx {
    background-color: #CDCCF5;
}

.ThemeMetropolis {
    background-color: #7F7F7F;
}

.ThemeMetropolisBlue {
    background-color: #0072C6;
}

.ThemeModerno {
    background-color: #1279c0;
}

.ThemeiOS {
    background-color: #007BF7;
}

.ThemeMaterial {
    background-color: #009688;
}

.ThemeOffice2010Blue {
    background-color: #B5CCE5;
}

.ThemeOffice2010Black {
    background-color: #474747;
}

.ThemeOffice2010Silver {
    background-color: #E7EAEF;
}

.ThemeOffice2003Blue {
    background-color: #B5CEF2;
}

.ThemeOffice2003Olive {
    background-color: #D4DEB6;
}

.ThemeOffice2003Silver {
    background-color: #D1D1E0;
}

.ThemeAqua {
    background-color: #96B9EC;
}

.ThemeMulberry {
    background-color: #BF4E6A;
}

.ThemeGlass {
    background-color: #C8DDE8;
}

.ThemeBlackGlass {
    background-color: #4D5A63;
}

.ThemePlasticBlue {
    background-color: #5066B3;
}

.ThemeRedWine {
    background-color: #8A0E3C;
}

.ThemeSoftOrange {
    background-color: #F06F30;
}

.ThemeYouthful {
    background-color: #9CC524;
}
